doctype html
html(lang="en")
    head
        title New Project
        //- include stylesheet files
        include includes/stylesheet
    body
        h1 Start your project here
        //- include scripts files
        include includes/scripts